<section 
    class="bg-black h-screen w-screen text-center relative overflow-hidden"
    data-header-color="black"
>			
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-40 text-[40px] font-medium">Accessories</h2>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div>
                <a class="text-white bg-black text-sm rounded font-medium px-[86px] py-2 inline-block hover:bg-white hover:text-black transition-colors " href="#">Shop Now</a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img src="/charger.avif" class="h-full w-full object-cover object-center">
    </div>

</section>