<section 
    class="bg-black h-screen w-screen text-center relative overflow-hidden"
    data-header-color="black"
>
			
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-40 text-[40px] font-medium">Model S</h2>
            <a class="text-black text-sm underline">Explore Inventory</a>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div class="gap-x-6 flex mx-auto">
                <a class="text-black bg-gray-200 opacity-60 text-sm rounded font-medium px-[70px] py-2 inline-block " href="#">Custom Orde</a>
                <a class="text-white bg-black opacity-60 text-sm rounded font-medium px-[70px] py-2 inline-block " href="#">Demo Drive</a>

            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img src="/models.avif" class="h-full w-full object-cover object-center">
    </div>
</section>